<div class="headerContent">
  <div class="headerMenu">
    <a href="#">
    <img src="../../assets/img/1-AnyEraser.png" />
  </a>
  </div>
  <div class="headerMenu">
    <a href="#aboutme">About me</a>
    <a href="#skills">Skills</a>
    <a href="#portfolio">Portfolio</a>
    <a (click)="switchLanguage('en')">EN</a> 
    <a (click)="switchLanguage('de')">DE</a>

  </div>
  <div class="burgerMenuResponsive" (click)="openBurgerMenu()">
    <img src="../../assets/img/burgerMenu.png" />
  </div>
</div>
<div class="overlay" *ngIf="showBurgerMenu">
  <div>

    <a href="#aboutme" (click)="closeBurgerMenu()">About me</a>
    <a href="#skills" (click)="closeBurgerMenu()">Skills</a>
    <a href="#portfolio" (click)="closeBurgerMenu()">Portfolio</a>
    <a href="#contact" (click)="closeBurgerMenu()">Contact</a>
  </div>
</div>
