.headerContent {
  background-color: #141d2f;
  max-width: 1920px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.headerMenu {
  margin: 100px;
  font-size: 23px;
  img {
    width: 150px;
  }

  span {
    color: white;
  }
}

.headerMenu {
  display: flex;
  margin: 100px;
  gap: 29px;
  a {
    color: white;
    text-decoration: none;
    transition: color 100ms ease-in-out;
    cursor: pointer;
    text-wrap: nowrap;
  }
  & a:hover {
    color: #70e61c;
    text-decoration: underline;
    text-decoration-color: #9747ff;
    text-decoration-thickness: 3px;
  }
}

.burgerMenuResponsive {
  display: none;
}

@media screen and (max-width: 880px) {
  .burgerMenuResponsive {
    display: flex;
    display: flex;
    justify-content: space-around;
    width: 100%;
    gap: 60%;
  }

  .overlay {
    .burgerDiv {
      margin-top: 500px;
    }
  }
  .language {
    display: flex;
    gap: 10px;
    color: white;
    font-size: 23px;
  }

  .headerMenu {
    position: absolute;
    left: -5%;
  }

  .headerMenu a {
    display: none;
  }
}

@media screen and (max-width: 570px) {
  .headerMenu {
    left: -10%;
  }
}

@media screen and (max-width: 400px) {
  .headerMenu {
    left: -15%;
  }
}

.overlay {
  position: fixed;
  left: 0;
  width: 100%;
  height: 200%;
  background-color: #141d2feb;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  div {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  a {
    color: white;
    text-decoration: none;
    font-size: 23px;
    font-weight: 400;
  }
}
