<div class="footer">
  <div class="innerContent">
  <div class="line"></div>
  <div class="footerDisplayFlex">
    <div class="imprint">
      <a class="logo" href="#">
    <img src="./assets/img/1-AnyEraser.png" class="first-img" />
  </a>
    <a routerLink="./imprint">{{ 'imprint' | translate }}</a>
  </div>
    <span>© Dennis Bilowodskyj 2024</span>
    <div class="iconLink">
        <a href="https://github.com/" class="icons" target="_blank">
            <img src="./assets/img/Github button.png" alt="GitHub" />
          </a>
          
          <a href="#contact">
            <img src="./assets/img/Email button.png" class="icons" alt="Email" />
          </a>
          
          <a href="https://www.linkedin.com/login/" class="icons" target="_blank">
            <img src="./assets/img/Linkedin button.png" alt="LinkedIn" />
          </a>
    </div>
  </div>
    
  
</div>
</div>


