.footer {
  max-width: 1920px;
  height: 291px;
  background-color: #141d2f;
  position: relative;
  z-index: 999;
}

.line {
  border: 4px solid #70e61c;
}

.footerDisplayFlex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  transform: translate(-50%, -50%);
  position: relative;
  left: 50%;
  top: 50%;
}
span {
  color: white;
  font-weight: 400;
  font-size: 23px;
  line-height: 27px;
}

.footerDisplayFlex .first-img {
  width: 200px;
}
.iconLink {
  display: flex;
  gap: 42px;

  & :hover {
    transition: transform 200ms ease-in-out;
    transform: scale(1.1);
  }
}

.imprint {
  display: flex;
  flex-direction: column;

  a {
    font-size: 16px;
    color: white;
    font-weight: 400;
    text-decoration: none;
    position: relative;
    bottom: 60px;
    cursor: pointer;
  }
  & a:hover {
    color: #70e61c;
    text-decoration: underline;
    text-decoration-color: #9747ff;
    text-decoration-thickness: 3px;
  }
}
.logo{
  position: relative !important;
    bottom: -25px !important;
}

.imprintOverlay{
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #141d2f; 
  color: white;
  z-index: 2;
  top: 100px;
}

@media screen and (max-width: 768px) {
  .footer{
    height: 500px;
  }
  .footerDisplayFlex {
    flex-direction: column;
    align-items: center;
    top:40%;
    span {
      top: -75px;
      position: relative;
    }
  }
  .footerDisplayFlex .first-img {
    width: 280px;
    position: relative;
    bottom: 100px;
  }

  .imprint {
    align-items: center;
    a {
      top: 100px;
    }
  }

  .iconLink {
    
    position: relative;
    margin-top: -35px;
}
}
