<div class="aboutMeContent">
  <div class="aboutMe">
    <h1>About me</h1>
    <p>
      Hi, I am a Front-end deverloper based in München, Germany(....)Lorem ipsum
      dolor sit amet, consectetur adipiscing elit. Ut auctor sem non tempus
      convallis. Integer et justo vitae urna finibus eleifend sit amet porttitor
      sapien. Donec sollicitudin massa vel lorem vestibulum efficitur.
    </p>
    <div class="aboutMeTextBoxTwo">
      <p>
        Some personal thing to share(...) Donec ut imperdiet diam, et convallis
        neque. Class aptent taciti sociosqu ad litora torquent per conubia
        nostra, per inceptos himenaeos.
      </p>
      <img src="./assets/img/bulb desktop.png">
    </div>
      <div class="aboutMeTextBoxThree">
        <p>
          Some personal thing to share(...) Donec ut imperdiet diam, et
          convallis neque. Class aptent taciti sociosqu ad litora torquent per
          conubia nostra, per inceptos himenaeos.
        </p>
        <img src="./assets/img/puzzle desktop white.png">

      </div>
    
  </div>
  <div class="aboutMePhoto">
    <img src="./assets/img/photo shadows.png">
    <img src="./assets/img/hero character photo.png">
  </div>
</div>
