<div class="aboutMeContent">
  <div class="aboutMe">
    <h1>About me</h1>
    <p>
      {{ 'aboutmeP1' | translate }}
    </p>
    <div class="aboutMeTextBoxTwo">
      <p>
        {{ 'aboutmeP2' | translate }}

      </p>
      <img src="./assets/img/bulb desktop.png" />
    </div>
    <div class="aboutMeTextBoxThree">
      <p>
        {{ 'aboutmeP3' | translate }}

      </p>
      <img src="./assets/img/puzzle desktop white.png" />
    </div>
  </div>
  <div class="aboutMePhoto">
    <img src="./assets/img/photo shadows.png" />
    <img src="./assets/img/hero character photo.png" />
  </div>
</div>
