<div class="aboveTheFoldContent">
  <div class="innerContent">
  <div class="myName">
    <div class="textOne">I am</div>
    <div class="ptext">
      <p>Dennis Bilowodskyj</p>
      <p>FRONTEND DEVELOPER</p>
    </div>
    <div class="btn">
      <a href="#contact">Let's talk!</a>
    </div>
  </div>
  <div class="firstImageSection">
    <img src="./assets/img/Purple shadow.png" alt="" />
    <img src="./assets/img/Purple shadow (1).png" alt="" />
  </div>
  <div
    data-aos="fade-left"
    data-aos-offset="10"
    data-aos-easing="ease-in-sine"
    class="iconSection"
  >
    <div class="contactLine"></div>
    <a href="https://github.com/" target="_blank">
      <img src="./assets/img/Github button.png" alt="GitHub" />
    </a>
    <a href="#contact">
      <img src="./assets/img/Email button.png" alt="GitHub" />
    </a>
    <a href="https://www.linkedin.com/login/" target="_blank">
      <img src="./assets/img/Linkedin button.png" alt="GitHub" />
    </a>
  </div>
  <div class="scrollDown">
    <p>Scroll down</p>
    <img src="./assets/img/arrow-down-line.png" />
  </div>
</div>
</div>
