<div class="aboveTheFoldContent">
  <div class="myName">
    <div class="textOne">I am</div>
    <div>
      <p>Dennis Bilowodskyj</p>
      <p>FRONTEND DEVELOPER</p>
 </div>
 <div class="btn">
 <a href="#">Let's talk!</a>
</div>
   
  </div>
  <div class="firstImageSection">
    <img src="./assets/img/Purple shadow.png" alt="" />
    <img src="./assets/img/Purple shadow (1).png" alt="" />
  </div>
  <div class="iconSection">
    <div class="contactLine"></div>
    <a href="#" target="_blank">
      
      <img src="./assets/img/Github button.png" alt="GitHub">
      <img src="./assets/img/Email button.png" alt="GitHub">
      <img src="./assets/img/Linkedin button.png" alt="GitHub">

    </a>
  </div>
  <div class="scrollDown">
    <p>Scroll down</p>
    <img src="./assets/img/arrow-down-line.png"> 
  </div>
</div>
