.skillContent {
  max-width: 1920px;
  img {
    position: absolute;
    width: 100%;
    max-width: 1920px;
    top: 1500px;
  }
}
.background {
  background-color: #141d2f;
  max-width: 1920px;
  height: 790px;
  display: flex;
  justify-content: space-between;
}
.skillIcons {
  z-index: 1;
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 80px;
  padding: 6rem 0rem;
}
.display-flex {
  display: flex;
  gap: 10px;
  figure {
    display: flex;
    gap: 10px;
    color: white;
    flex-direction: column;
    align-items: center;
    width: 88px;
    height: 100px;
    text-align: center;
  }
  img {
    width: 56px;
    height: 60px;
  }
  figcaption {
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
  }
}

.skillTextBox {
  width: 572px;
  height: 286px;
  position: relative;
  display: flex;
  color: white;
  right: 0;
  margin-top: 170px;
  flex-direction: column;
  gap: 35px;
  background-image: url('../../assets/img/LINE2.png');
  background-position: 280px 130px;
    background-repeat: no-repeat;
  h2 {
    font-weight: 700;
    font-size: 90px;
    line-height: 108px;
    height: 35px;
  }
  img{
    width: 55%;
    height: 4px;
    margin-top: -85px;
    margin-left: 45%;
  }
  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
  }
}
.btn {
  display: flex;
  margin-top: 10px;
  a {
    padding: 15px 30px;
    text-decoration: none;
    background-color: #70e61c;
    border-radius: 10px;
    color: #ffffff;
    font-size: 23px;
    font-weight: 400;
    transition: background-color 100ms ease-in-out, padding 100ms ease-in-out;
  }
  & :hover {
    background-color: #9747ff;
    padding: 20px 40px;
  }
}
/*.line {
  width: 289px;
  height: 4px;
  background-color: #1cdae6;
  position: absolute;
  right: 0;
  margin-top: 130px;
  border-radius: 10px 0px 0px 10px;
}*/

.display-flex figure:hover {
  animation: vibrate 0.5s linear infinite;
}

@keyframes vibrate {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(2px);
  }
  50% {
    transform: translateX(-2px);
  }
  75% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0);
  }
}

@media screen and (max-width: 1100px) {
  .skillIcons {
    gap: 70px;
  }

  .display-flex {
    gap: unset;
    figure {
      width: 77px;
      height: 50px;
    }
    img {
      width: 45px;
      height: 45px;
    }
  }

  .skillTextBox {
    background-position: 100% 115px;
    h2 {
      font-size: 70px;
    }
          }
  .btn{
    position: relative;
    /*right: 10%;*/
  }
}

@media screen and (max-width: 880px) {

    .background{
        height: 860px;
        flex-direction: column-reverse;
        justify-content: center;
    }
    .skillTextBox {
        width: 100%;
        margin-top: -190px;
        h2{
          margin-left: 5%;
        }
        line{
          width: 300px;
        }
        p{
          display: flex;
          text-align: left;
          margin-left: 5%;
          right: unset;
        }
    }
    .btn{
      justify-content: center;
      /*left: 5%;*/
      margin-top: 600px;
    }

    .skillIcons[_ngcontent-ng-c2390456407] {
        gap: 70px;
        margin-top: 370px;
        margin-left: unset;
        padding: 11rem 0rem;
    }
}

@media screen and (max-width: 630px) {
  .display-flex{
    figure{
      width: 50px;
    }
  }
  

.skillIcons{
  margin-left: unset;
  scale: 0.9;
}
}
@media screen and (max-width: 520px) {
  .display-flex{
    figure{
      width: 22px;
    }
  }
  .skillTextBox {
    background-position: 210px 115px;
    
  }
  
  
   
}


@media screen and (max-width: 390px) {
  .display-flex{
    /*position: relative;
    left: 5%;*/
    figure{
      width: 22px;
    }
  }
  .skillIcons{
    margin-left: -45px !important;
    transform: scale(0.8);
    margin-top: -190px;
  }

  .skillTextBox {
    
    h2{
      font-size: 45px;
     margin-top: 60px;
      width: fit-content;
    }
    
    
}

.btn{
  margin-top: 450px;
}
}


