<div class="skillContent">
  <img src="./assets/img/curve (2).png" />
</div>

<div class="background">
  <div class="innerContent">

  <div
    data-aos="fade-left"
    data-aos-offset="300"
    data-aos-easing="ease-in-sine"
    class="skillIcons"
  >
    <div class="display-flex">
      <figure>
        <img src="../../assets/img/Javascript.png" />
        <figcaption>JavaScript</figcaption>
      </figure>
      <figure>
        <img src="../../assets/img/Angular.png" />
        <figcaption>Angular</figcaption>
      </figure>
      <figure>
        <img src="../../assets/img/ts.png" />
        <figcaption>TypeScript</figcaption>
      </figure>
      <figure>
        <img src="../../assets/img/html.png" />
        <figcaption>HTML</figcaption>
      </figure>
    </div>
    <div class="display-flex">
      <figure>
        <img src="../../assets/img/git.png" />
        <figcaption>GIT</figcaption>
      </figure>
      <figure>
        <img src="../../assets/img/Firebase.png" />
        <figcaption>Firebase</figcaption>
      </figure>
      <figure>
        <img src="../../assets/img/css.png" />
        <figcaption>CSS</figcaption>
      </figure>
    </div>
    <div class="display-flex">
      <figure>
        <img src="../../assets/img/scrum.png" />
        <figcaption>Scrum</figcaption>
      </figure>
      <figure>
        <img src="../../assets/img/Api.png" />
        <figcaption>Rest-Api</figcaption>
      </figure>
    </div>
    <div class="display-flex">
      <figure>
        <img src="../../assets/img/Frame.png" />
        <figcaption>Material Design</figcaption>
      </figure>
    </div>
  </div>
  <div
    data-aos="fade-right"
    data-aos-offset="300"
    data-aos-easing="ease-in-sine"
    class="skillTextBox"
  >
  <img src="../../assets/img/LINE2.png">
    <h2>Skills</h2>
<div>
    <p>
      {{ "skillText" | translate }}
    </p>
  </div>
    <div class="btn">
      <a href="#contact">Get in touch</a>
    </div>
  </div>
</div>
</div>
