<div class="contactSection">
  <div class="headline">
    <h2>Contact</h2>
    <div class="line"></div>
  </div>
  <div>
    <div class="lineSpan"></div>
    <div class="spanContainer">
      <span class="firstSpan">Got a problem to solve?</span>
      <span class="secondSpan">
        Contact me through this form, I am interested in hearing<br />
        from you, knowing your ideas and contributing to your <br />projects
        with my work.
      </span>
      <span class="thirdSpan"
        >Need a Frontend developer? <span class="lastSpan">Contact me!</span>
      </span>
    </div>
  </div>
  <div class="purpleShadow">
    <img src="../../assets/img/Purple shadow 2.png" />
  </div>
  <div class="contactFormContainer">
    <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
      <label for="fname"></label>
      <input
        type="text"
        placeholder="Your name"
        required
        (click)="requiredName()"
        [(ngModel)]="name"
        [(ngModel)]="contactData.name"
        name="firstname"
        (change)="onChangeInput()"
        [ngClass]="{ clicked: showName, 'valid': inputValid }"
        
      />
      <span class="requiredText" [hidden]="!showName" [ngClass]="{'show': showName}"
        >Your name is required
      </span>
      <label for="mail"></label>
      <input
        type="email"
        placeholder="Your email"
        required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
        (click)="requiredEmail()"
        [(ngModel)]="email"
        name="email"
        [ngClass]="{ clicked: showEmail }"
      />
      <span class="requiredText" [hidden]="!showEmail" [ngClass]="{'show': showEmail}"
        >Your email is required
      </span>

      <label for="subject"></label>
      <textarea
        id="subject"
        name="subject"
        placeholder="Your message"
        required
        style="height: 200px"
        type="text"
        (click)="requiredTextMessage()"
        [(ngModel)]="text"
        name="text"
        [ngClass]="{ clicked: showText }"
    
      >
     
      </textarea>
      <span class="requiredTextArea" [hidden]="!showText" [ngClass]="{'show': showText}">
      Your message is empty
    </span>
      <div class="privacyPolicyContainer">
        <div class="privacyPolicy">
          <label class="container">
            <input type="checkbox" formControlName="acceptTerms" formControlName="acceptTerms" (change)="toggleCheckbox($event)" />
            <span class="checkmark"></span>
          </label>
          I've read the
          <a href="#">privacy policy</a>
          and agree to the processing of my data as outlined.
        </div>
        <button type="submit" [ngClass]="{ 'active': isChecked }">Send message :)</button>
        <!--<span class="requiredText" ngIf="!isButtonEnabled">Please accept the privacy policy.</span>-->
      </div>
    </form>
    <a href="#" class="goUpButton">
      <img src="../../assets/img/Property 1=Default.png" class="defaultImg">
      <img src="../../assets/img/Property 1=Variant2.png" class="hoverImg">

    </a>
  </div>
  
  </div>
  

