.contactSection {
  background-color: #141d2f;
  z-index: 0;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.innerContent{
  width: 100%;
  max-width: 1920px;
}
.headline {
  display: flex;
  position: relative;
  margin-left: 42%;
  padding: 1rem 0rem;
  width: 100%;
  justify-content: center;
  h2 {
    font-weight: 700;
    font-size: 90px;
    line-height: 108px;
    color: white;
    position: relative;
    transform: translate(-50%);
  }
}
.line {
  width: 1130px;
  height: 4px;
  background-color: #70e61c;
  right: 0;
  margin-top: 130px;
  border-radius: 10px 0px 0px 10px;
}
.lineSpan {
  width: 350px;
  height: 4px;
  border-radius: 0 10px 10px 0;
  background-color: #1cdae6;
  position: absolute;
  left: -300px;
}

.spanContainer {
  color: white;
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  position: relative;
  bottom: 20px;
  gap: 20px;
}
.firstSpan {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
}
.secondSpan {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
.lastSpan {
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
}
.d-flex {
  display: flex;
  position: relative;
}

.contactFormContainer {
  display: flex;
  height: 630px;
  margin: 0 auto;
  max-width: 617px;
  z-index: 1;
  position: relative;
  margin-right: 5%;
  ::placeholder {
    color: white;
  }

  input[type="text"],
  [type="email"],
  select,
  textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #9747ff;
    border-radius: 10px;
    box-sizing: border-box;
    resize: vertical;
    background-color: #141d2f;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 32px;
    font-family: "Poppins";
    cursor: pointer;
    color: white;
  }

  textarea {
    height: 202px;
    background-position: 570px 15px !important;
  }

  input[type="text"]:hover,
  [type="email"]:hover,
  select:hover,
  textarea:hover {
    border: 1px solid #1cdae6;
  }

  input[type="text"].ng-valid,
  [type="email"].ng-valid {
    border: 1px solid #70e61c !important;
    outline: none;
    background-image: url("../../assets/img/grünerhaken.png");
    background-repeat: no-repeat;
    background-position: 570px 50%;
  }

  button[type="submit"] {
    background-color: #b6b6b6;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: "Poppins";
    width: 285px;
    height: 58px;
    font-size: 23px;
    font-weight: 400;
    line-height: 27px;
  }

  button.valid {
    background-color: #70e61c;
    color: white;
    transition: background-color 100ms ease-in-out, width 100ms ease-in-out,
      height 100ms ease-in-out;
  }
  button[type="submit"] .active:hover {
    background-color: #9747ff;
    width: 290px;
    height: 68px;
  }

  .privacyPolicyContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 42px;
  }
}
.privacyPolicy {
  display: flex;
  color: white;
  font-weight: 400;
  font-size: 14px;
  gap: 8px;
  position: relative;
  bottom: 30px;
  text-wrap: nowrap;
  a {
    text-decoration: none;
    color: #9747ff;
    cursor: pointer;
  }
}
.privacyPolicy a:hover {
  text-decoration: underline;
}
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-top: 13px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: transparent;
  border: 2px solid #70e61c;
  border-radius: 5px;
}

.container input:checked ~ .checkmark {
  background-color: unset;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 6px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid #70e61c;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkmark:hover::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 27px;
  height: 27px;
  border-radius: 50%;
  background-color: #183771;
  opacity: 0.5;
}

.requiredText:not(.valid) {
  color: #e61c40;
  position: relative;
  bottom: 20px;
  font-weight: 400;
  font-size: 14px;
  transition: opacity 0.3s ease-in-out;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.requiredText.show:not(.valid) {
  display: block;
  opacity: 0;
  animation-name: fadeIn;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.requiredTextArea:not(.valid) {
  color: #e61c40;
  position: relative;
  bottom: 30px;
  font-weight: 400;
  font-size: 14px;
}

input:focus-visible:not(.valid),
textarea:focus-visible:not(.valid) {
  outline: none;
  border: 1px solid #e61c40 !important;
  caret-color: white;
  transition: border 300ms ease-in-out;
  background-image: url("../../assets/img/Vector\ \(1\).png");
  background-repeat: no-repeat;
  background-position: 570px 50%;
}

.purpleShadow {
  position: absolute;
  bottom: -18rem;
  z-index: -1;
  right: 0;
}

.goUpButton {
  position: relative;
  right: 0;
  display: flex;
  margin-top: 530px;
}

.goUpButton .defaultImg,
.goUpButton .hoverImg {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  transition: opacity 0.2s ease-in-out;
}

.goUpButton .defaultImg {
  opacity: 1;
  z-index: 1;
}

.goUpButton .hoverImg {
  opacity: 0;
  z-index: 2;
}

.goUpButton:hover .defaultImg {
  opacity: 0;
}

.goUpButton:hover .hoverImg {
  opacity: 1;
}

.PrivacyOverlay{
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #414856; 
  z-index: 2;
  top: 100px;
}



@media screen and (max-width: 1100px) {

  .privacyPolicyContainer{
    position: absolute;
  }

  .goUpButton{
    right: 10%;
    margin-top: 570px;
  }
  .contactFormContainer {
        margin-right: 3%;
        width: 50%;
    input[type="text"],
    [type="email"],
    select,
    textarea {
      width: 100%;
    }
  }
  .container {
      padding-left: 25px;
      margin-top: 15px;
   }
  .privacyPolicy {
    flex-direction: row;
    text-wrap: wrap;
    font-size: 14px;
  }

  .spanContainer{
    bottom: 20px;
  }
  
}

@media screen and (max-width: 880px) {
  .d-flex {
    flex-direction: column;
  }
  .container {
    padding-left: 25px;
    margin-top: 12px;
}
  .spanContainer {
    margin-left: 50px;
  }
  .contactFormContainer {
    align-items: center;
    margin: 0 auto;
    margin-top: -30px;
    height: 670px;
    input[type="text"],
    [type="email"],
    select,
    textarea {
      width: 100%;
    }
  }
  .privacyPolicy {
    width: initial;
    font-size: 14px;
    right: 1%;
  }

  .privacyPolicyContainer{
    position: initial;
  }
  
  .headline {
    margin-left: 25%;
  }

  .goUpButton{
    margin-top: 530px;
  }
}

@media screen and (max-width: 770px) {
  .contactFormContainer{
    height: 710px;
  }
 
.goUpButton{
  right: -2%;
  margin-top: 600px;
}

.headline{
  padding: 2rem 0rem;
  h2{
    transform:translate(-40%) ;
  }
}
}

@media screen and (max-width: 570px) {
  .headline {
    gap: 20px;
    h2 {
      font-size: 70px;
    }
  }
  .line {
    margin-top: 115px;
  }
  .purpleShadow {
    bottom: -2rem;
    img {
      width: 238px;
      height: 395px;
    }
  }

  .container{
    
    margin-top: 0px;
}
  .contactFormContainer {
    width: 80%;
  }
  .privacyPolicy {
    font-size: 12px;
    text-wrap: initial;
    p {
      position: relative;
      top: -15px;
    }
    label {
      margin-bottom: initial;
    }
  }
}

@media screen and (max-width: 470px) {
  .headline {
    
    h2 {
      font-size: 45px;
    }
  }
  .line {
    margin-top: 95px;
  }

  .spanContainer{
    bottom: 40px;
  }

  .contactFormContainer button[type=submit]{
    width: 195px;
    height: 49px;
    font-size: 16px;
    bottom: 40px;
    position: relative;
    text-wrap: nowrap;
        padding: unset;
  }

  .goUpButton{
    right: 5%;
    margin-top: 470px;
  }

  
}