.contactSection {
  background-color: #141d2f;
}
.headline {
  display: flex;
  margin-left: 600px;
  h2 {
    font-weight: 700;
    font-size: 90px;
    line-height: 108px;
    color: white;
  }
}
.line {
  width: 504px;
  height: 4px;
  background-color: #70e61c;
  position: absolute;
  right: 0;
  margin-top: 130px;
  border-radius: 10px 0px 0px 10px;
}
.lineSpan {
  width: 50px;
  height: 4px;
  border-radius: 0 10px 10px 0;
  background-color: #1cdae6;
  top: 120px;
  position: relative;
}

.spanContainer {
  color: white;
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  position: relative;
  top: 100px;
  gap: 20px;
}
.firstSpan {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
}
.secondSpan {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
.lastSpan {
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
}

.contactFormContainer {
  display: flex !important;
  width: 617px !important;
  height: 520px !important;
  margin-left: 380px !important;
  position: relative !important;
  bottom: 30px !important;
  ::placeholder {
    color: white !important;
  }

 
  .Sendbutton[type="submit"] {
    background-color: #b6b6b6;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: "Poppins";
    width: 253px;
    height: 58px;
    font-size: 23px;
    font-weight: 400;
    line-height: 27px;
  }
  .privacyPolicyContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 42px;
  }
}
.privacyPolicy {
  display: flex;
  color: white;
  font-weight: 400;
  font-size: 14px;
  gap: 8px;
  position: relative;
  bottom: 10px;
  a {
    text-decoration: none;
    color: #9747ff;
  }
}
.privacyPolicy a:hover {
  text-decoration: underline;
}


.checkmark {
  position: absolute;
  top: 0;
  height: 18px;
  width: 18px;
  background-color: transparent;
  border: 2px solid #70e61c;
  border-radius: 5px;
}

.checkmark:checked + .checkmark {
  background-color: unset;
}

.checkmark:checked + .checkmark:after {
  display: block;
}

 .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 6px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid #70e61c;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkmark:hover::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 27px;
  height: 27px;
  border-radius: 50%;
  background-color: #183771;
  opacity: 0.5;
}

.test {
  display: block;
  width: 617px;
  height: 50px;
  /* height: calc(1.5em + .75rem + 2px); */
  padding: 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: white;
  background-color: #141d2f;
  background-clip: padding-box;
  border: 1px solid #9747ff;
  border-radius: 10px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  cursor: pointer;
  &:focus.is-invalid {
    border-color: red !important;
  }
}
.test:hover {
  border: 1px solid #70e61c;
}
.requiredTextStyle {
  transition: opacity 0.5s ease-in-out;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.invalid-feedback.requiredTextStyle {
  display: block;
  opacity: 0;
  animation-name: fadeIn;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.newFormGroup {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.textSpacing {
 margin-left:30px ;
}
.unsetMargin{
  margin-bottom: unset;
  padding: unset;
}