.portfolio-section {
  background-color: #141d2f;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.innerContent {
  max-width: 1920px;
  width: 100%;
  z-index: 2;
}
.lineContent {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  position: relative;
}
.textBox {
  color: white;
  display: flex;
  flex-direction: column;
  padding: 1rem 0rem;
  h2 {
    font-weight: 700;
    font-size: 90px;
    line-height: 108px;
    padding: 1rem;
    margin-left:50px ;
  }
  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    width: 473px;
    height: 38px;
    margin-left: 50px;
    z-index: 2;
    margin-left:50px ;

  }
}

.line {
  width: 350px;
  height: 4px;
  border-radius: 0 10px 10px 0;
  background-color: #9747ff;
  left: -300px;
  position: absolute;
}

.imgContent {
  display: flex;
  justify-content: center;
  gap: 33px;
  margin-top: 100px;
  position: relative;
  height: 700px;
  z-index: 2;
}
.imgPolloLoco {
  width: 603px;
  height: 603px;
  border: 1px solid;
  border-radius: 15px;
  border-color: #70e61c;
  overflow: hidden;
  background-color: #141d2f;
  cursor: pointer;
}

.imgPolloLoco:hover .d-none {
  display: block;
  transition: display 150ms ease-in-out;
}
.imgPolloLoco:hover .btnContainer {
  visibility: visible;
  transition: visibility 150ms ease-in-out;
}
.imgPolloLoco:hover .imgPolloLocoImage {
  transition: opacity 150ms ease-in-out, transform 300ms ease-in-out !important;
  opacity: 0.5;
  transform: scale(1.55) translateX(10px) translateY(-40px) !important;
}

.d-none {
  display: none;
  width: 603px;
  height: 350px;
  border-radius: 30px 30px 15px 15px;
  background-color: #ffffff;
  position: absolute;
  top: 254px;
}

.display-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  h3 {
    color: #9747ff;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    margin-top: 59px;
  }
  div {
    color: black;
    font-weight: 400;
    font-size: 23px;
    line-height: 27px;
    margin-top: 27px;
  }
  p {
    color: #70e61c;
    font-weight: 400;
    font-size: 23px;
    line-height: 27px;
    margin-top: 27px;
  }
}

.imgPolloLoco img {
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.btnContainer {
  display: flex;
  position: absolute;
  margin-top: 131px;
  gap: 86px;
  margin-left: 139px;
  z-index: 1;
  visibility: hidden;
}
.btnGit {
  a {
    width: 77px;
    font-size: 23px;
    line-height: 27px;
    font-weight: 400;
    color: white;
    padding: 15px 30px;
    border: solid 1px;
    border-radius: 10px;
    border-color: #1cdae6;
    text-decoration: none;
    transition: background-color 100ms ease-in-out;
  }
}
.btnGit:hover a {
  background-color: #1cdae6;
}

.btnLive {
  a {
    width: 77px;
    font-size: 23px;
    line-height: 27px;
    font-weight: 400;
    color: white;
    padding: 15px 30px;
    border-radius: 10px;
    background-color: #9747ff;
    text-decoration: none;
    transition: background-color 100ms ease-in-out;
  }
}
.btnLive:hover a {
  background-color: #70e61c;
}

.greenShadow {
  position: absolute;
  left: 0;
  z-index: 1;
}

.blueShadow {
  position: absolute;
  right: 0;
  z-index: 1;
}

@media screen and (max-width: 1330px) {
  .imgPolloLoco {
    width: 500px;
    height: 500px;
    display: flex;
  }
  .d-none {
    width: 500px;
    height: 300px;
    top: 200px;
  }
  .display-flex {
    h3 {
      margin-top: 30px;
    }
    div {
      margin-top: 0px;
    }
  }
  .btnContainer {
    margin-left: 70px;
    margin-top: 100px;
  }

  .imgPolloLoco:hover .imgPolloLocoImage {
    transform: scale(1.55) translateX(5px) translateY(-35px) !important;
  }
}

@media screen and (max-width: 1100px) {
  .imgPolloLoco {
    width: 400px;
    height: 400px;
  }
  .imgPolloLoco:hover .imgPolloLocoImage {
    transform: scale(1.55) translateX(5px) translateY(-26px) !important;
  }

  .d-none {
    width: 400px;
    height: 250px;
    top: 150px;
  }
  .display-flex {
    h3 {
      font-size: 23px;
    }
    div {
      font-size: 16px;
    }
    p {
      font-size: 16px;
    }
  }
  .btnContainer {
    margin-left: 10px;
    margin-top: 80px;
  }
}

@media screen and (max-width: 880px) {
 
  .Epl {
    top: 265px !important;
  }
  
  .greenShadow {
    margin-top: 570px;
  }

  .imgContent {
    height: unset;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
  }
  .imgPolloLoco {
    width: 600px;
    height: 600px;
  }
  .textBox {
    h2 {
      font-size: 45px;
    }
  }
 

  .imgPolloLoco:hover .imgPolloLocoImage {
    transform: scale(1.55) translateX(5px) translateY(-40px) !important;
  }

  .d-none {
    width: 600px;
    height: 335px;
    top: 265px;
  }
  .display-flex {
    h3 {
      font-size: 32px;
      margin-top: 50px;
    }
    div {
      font-size: 23px;
      margin-top: 30px;
    }
    p {
      font-size: 23px;
      margin-top: 40px;
    }
  }
  .btnContainer {
    margin-left: 100px;
    margin-top: 140px;
  }
}

@media screen and (max-width: 770px) {

}
  
@media screen and (max-width: 680px) {
  .Epl {
    top: 200px !important;
  }
  .textBox {
    p {
      width: 340px;
      margin-left: 30px;
    }
    h2 {
      margin-left: 30px;
      width: fit-content;
    }
  }

    .imgPolloLoco {
    width: 500px;
    height: 500px;
  }
  
  .btnContainer {
    margin-left: 60px;
    margin-top: 100px;
  }

  .d-none {
    top: 200px;
    width: 500px;
    height: 300px;
  }
  .display-flex {
    h3 {
      margin-top: 10px;
    }
    div {
      margin-top: 0px;
    }
    p {
      margin-top: 40px;
    }
  }

  .imgPolloLoco:hover .imgPolloLocoImage {
    transform: scale(1.55) translateX(5px) translateY(-32px) !important;
  }
}

@media screen and (max-width: 570px) {
  .line{
    left: -320px;
  }
  .Epl {
    top: 181px !important;
  }
  .imgPolloLoco {
    width: 400px;
    height: 400px;
  }
  .greenShadow {
    img {
      width: 246px;
      height: 547px;
    }
  }
  .btnContainer {
    margin-left: 10px;
  }

  .d-none {
    top: 181px;
    width: 400px;
    height: 220px;
  }
  .display-flex {
    h3 {
      font-size: 23px;
      margin-top: 10px;
    }
    div {
      font-size: 16px;
      margin-top: 0px;
    }
    p {
      font-size: 16px;
      margin-top: 20px;
    }
  }
}

@media screen and (max-width: 430px) {
  
  .Epl {
    top: 121px !important;
  }
  .textBox p {
    width: 270px;
  }
  .imgPolloLoco {
    width: 300px;
    height: 300px;
  }
  .blueShadow{
    img{
      width: 372px;
        height: 384px;
    }
    }
    .greenShadow {
      img{
      width: 246px;
        height: 547px;
    }
    }
  .btnContainer {
    margin-left: 15px;
    margin-top: 50px;
    gap: 33px;
  }
  .btnGit a {
    font-size: 16px;
  }
  .btnLive a {
    font-size: 16px;
  }
  .d-none {
    top: 121px;
    width: 300px;
    height: 180px;
  }
  .display-flex {
    h3 {
      margin-top: 10px;
    }
    div {
      margin-top: -20px;
      line-height: 19px;
    }
    p {
      margin-top: 15px;
      line-height: 19px;
    }
  }

  .imgPolloLoco:hover .imgPolloLocoImage {
    transform: scale(1.55) translateX(5px) translateY(-40px) !important;
  }
}

@media screen and (max-width: 390px) and (max-height:740px) {
.blueShadow{
  margin-top: 280px;
img{
  width: 372px;
    height: 384px;
}
}
.greenShadow {
  img{
  width: 246px;
  height: 547px;
}
}
}

@media screen and (min-width: 1920px), (max-width:2560px) and (min-height:1080px), (max-height:1440px) {
 
  .imgContent{
    margin-top: 60px;
  }
}

@media screen and (min-width: 2560px) and (min-height:1440px) {
  
  .line{
    left: -390px;
    width: 390px;
  }
}

@media screen and (min-width: 3840px) and (min-height:2160px) {
.portfolio-section{
  height: 1460px;
}
.imgContent{
  scale: 1.5;
  margin-top: 230px;
}


  .blueShadow{
  scale: 1.5;
  right: 109px;
}
.greenShadow{
  
    scale: 1.5;
}
.lineContent{
  scale: 1.5;
  z-index: 2;

}
.line{
      left: -1000px;
        width: 1320px;
        
}
.textBox {
h2{
  
    margin-left: 350px;
 }
 p{
  scale: 1.5;
  margin-left: 200px;
 }
}
}

@media screen and (min-width: 4096px) and (min-height:2304px) {


}

@media screen and (min-width: 5120px) and (min-height:2880px) {
 
}