<div class="portfolio-section">
  <div class="innerContent">
    <div class="textBox">
      <div class="lineContent">
        <div class="line"></div>

        <h2>Portfolio</h2>
      </div>
      <p>
        {{ "portfolioHeadline" | translate }}
      </p>
    </div>
    <div class="imgContent">
      @for(project of projectdata.projects; track project.github; let index = $index){
      <div
        data-aos="fade-left"
        data-aos-offset="100"
        data-aos-easing="ease-in-sine"
        class="imgPolloLoco"
      >
        <div class="btnContainer">
          <div class="btnGit">
            <a [href]="project.github" target="_blank">Github</a>
          </div>
          <div class="btnLive">
            <a [href]="project.link" target="_blank">Live test</a>
          </div>
        </div>

        <img [src]="project.image" class="imgPolloLocoImage" />
        <div class="d-none Epl">
          <div class="display-flex">
            <h3>{{ project.title }}</h3>
            <div>
              {{ project.description | translate }}
            </div>
            <p>{{ project.techstack }}</p>
          </div>
        </div>
      </div>
      }
    </div>
  </div>
  <div class="blueShadow">
    <img src="./assets/img/Blue shadow 1.png" />
  </div>
  <div class="greenShadow">
    <img src="./assets/img/Green shadow.png" />
  </div>
</div>
