.imprintOverlay{
    background-color: #141d2f;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    img{
        position: absolute;
   display: flex;
    z-index: 1000;
    }
    a{
        text-decoration: none;
        color: white;
    }
}

.innerContent{
    max-width: 1920px;
    width: 100%;
    display: flex;
    padding: 50px;
}

@media screen and (min-width: 3840px) and (min-height:2160px) {

    .imprintOverlay{
    font-size: 40px;
    img{
        scale: 1.5;
    }
    }
}
