<div class="imprintOverlay">
  
  <div class="impressum">
    <a href="#footer">
    <img src="../../assets/img/close.png">
  </a>
    <h1>{{ 'imprint' | translate }}</h1>
    <p>{{ 'imprint1' | translate }}</p>
    <p>
      Dennis Bilowodskyj <br />
      Falkenburger Str. 6<br />
      53879 Euskirchen<br />
    </p>
    <p>
      <strong>{{ 'imprint2' | translate }} </strong><br />
      Dennis Bilowodskyj<br />
    </p>
    <p>
      <strong>{{ 'imprint3' | translate }}</strong> <br />
      {{ 'imprint4' | translate }}<br />
      E-Mail: <a href="mailto:max@muster.de">d.bilowodskyi&#64;gmail.com</a>
    </p>

    <p>
      <strong>{{ 'imprintText' | translate }}</strong><br /><br />
      {{ 'imprintText1' | translate }}<br /><br /><strong>{{ 'imprintText2' | translate }}</strong><br /><br />
      {{ 'imprintText3' | translate }}
      <br><br><strong>{{ 'imprintText4' | translate }}</strong><br /><br />
      {{ 'imprintText5' | translate }} <br />
      {{ 'imprintText6' | translate }} <br />
      {{ 'imprintText7' | translate }}<br />
    </p>
    <br />
    {{ 'imprintText8' | translate }}
    <a href="https://www.impressum-generator.de">impressum-generator.de</a> {{ 'imprintText9' | translate }}
    <a href="https://www.kanzlei-hasselbach.de/" rel="nofollow"
      >Kanzlei Hasselbach</a
    >
  </div>
</div>

